#new-post {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


#new-post form {
    display: flex;
    flex-direction: column;
}

#new-post form input,
#new-post form textarea,
#new-post form select,
#new-post form button {
    margin: 5px;
    width: 300px;
}