#new-comment, #new-comment form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}



textarea {
    width: 60%;
    margin-bottom: 20px;
}

button{
    width: 250px;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
}